@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "media";
@import "animation";

/*header start*/

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        height: 87px;
        padding: 7px 0;
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        &-list {
            display: flex;
            align-items: center;
        }
        &-item {
            font-size: 18px;
            font-weight: 700;
        }
        &-item+.header__menu-item {
            margin-left: 30px;
        }
        &-link {
            position: relative;
            padding: 5px 0;
            text-transform: uppercase;
        }
        &-link:after,
        &-link:before {
            content: '';
            height: 2px;
            position: absolute;
            transition: all 0.35s ease;
            background-color: $green;
            width: 0;
        }
        &-link:after {
            bottom: 0;
            right: 0;
        }
        &-link:before {
            top: 0;
            left: 0;
        }
        &-link:hover:after,
        &-link:hover:before {
            width: 100%;
        }
    }
}


/*header end*/


/*top start*/

.top {
    background-color: #000;
    max-height: 700px;
    &__item {
        position: relative;
        height: 700px;
        overflow: hidden;
    }
    &__item-img {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.4;
    }
    &__item-text {
        position: absolute;
        color: $light;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__item-title {
        margin-bottom: 65px;
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.1em;
    }
    &__item-subtitle {
        margin-bottom: 65px;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
    }
    &__item-btn {}
}


/*top end*/


/*info start*/

.info {
    background-color: $green;
    // &__inner{
    //     text-align: center;
    // }
    &__delivery-date {
        font-weight: 900;
        text-decoration: underline;
        margin: 0;
    }
}


/*info end*/


/*products start*/


/*products end*/